@charset "utf-8";
/* CSS Document */

html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{border:0;/*font-size:96%;*/font:inherit;vertical-align:baseline;margin:0;padding:0;box-sizing:border-box;}article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}body{line-height:1}h1,h2,h3,h4,h5,h6{font-weight:bold;}ol,ul{list-style:none}blockquote,q{quotes:none}blockquote:before,blockquote:after,q:before,q:after{content:none}table{border-collapse:collapse;border-spacing:0}*{box-sizing:border-box;}abbr{border:none; text-decoration:none;}

html {/*overflow-x:hidden;*/ height:100vh;}
body {font-family:Helvetica, Arial, "sans-serif"; height:100%; background-color:#fff; color:#333; line-height:1.2;}
header {width:100%;}
#PAGE_1 img:not(.print-only) {display:block; max-width:500px; max-height:200px; margin:0 auto 30px auto;}

.container {display:table; width:100%; height:100%; position:relative; overflow-y:auto; overflow-x:hidden;}
.container.page-element {display:block; height:auto; border-collapse:collapse;}
.half {width:50%;}
.third {width:33.3%;}
.fourth {width:25%;}

h1 {/*display:table-cell; vertical-align:middle;*/}

.page-wrapper {position:fixed; height:calc(100% - 145px); width:100%; top:105px;}
.content {display:block;}
.page-content {/*display:block;*/ width:100%; position:fixed; /*overflow-x:hidden; overflow-y:auto;*/ top:0px; left:-9999px; background-color:#fff;}
.page-content.live {left:0px; position:absolute; display:inline-block; overflow:auto;}
/* .page-content>*:last-child, .page-mainbar>*:last-child:not(.page-sidebar), .last-child-margin {margin-bottom:40px;} */
.page-content.live>:last-child:not(div) { padding-bottom: 75px; }
div.note:last-child { padding-bottom:75px; }
table:last-child {margin-bottom:75px; }

h2 {font-size:1.4em; margin-bottom:1.4em; position:relative;}
h3 {font-size:1.25em;}
h4 {font-size:1.1em;}
h5, h6 {font-size:1em;}
ul, ol {margin-left:35px;}
ul.no-indent, ol.no-indent {margin-left:0;}
ul.no-indent ul, ul.no-indent ol, ol.no-indent ol, ol.no-indent ul {margin-left:35px;}
ul ul, ul ol, ol ol, ol ul {margin-left:17px;}
ul {list-style:disc;}
ol {list-style:decimal;}
li ul {list-style:circle; margin-top:8px;}
li li ul {list-style:square;}
li {margin-bottom:8px;}
ul.bulletless {list-style-type:none;}
ul.disc {list-style:disc;}
ol.alpha {list-style-type:upper-alpha;}
ol.roman {list-style-type:none; counter-reset:elementcounter;}
ol.roman li::before {font-weight:bold; content:"Major Category "counter(elementcounter, upper-roman)": "; counter-increment:elementcounter;}
h3,h4,h5,h6,p,ul,ol {padding-bottom:1em;}
h3 {border-bottom:1px solid;}
a {color:#00E;}
a.tele {color:#000; text-decoration:none;}
a:focus, input:focus {outline:1px #00e dotted;}
div:focus, section:focus, aside:focus {border:none; outline:none;}
abbr {border-bottom:1px dashed; cursor:help;}

.fixed {position:fixed;}
.fixed-top {position:fixed; top:0px;}
.fixed-bottom {width:100%; position:fixed; bottom:0px; z-index:-1;}
.z-fix {z-index:1;}
.left {left:0px;}
.right {right:0px;}
.align-center {text-align:center;}
.align-right {text-align:right;}
.no-wrap {white-space:nowrap;}
.no-background {background-color:transparent !important; height:auto !important;}
.bold {font-weight:bold;}
.underline {text-decoration:underline;}
.text-normal {font-weight:normal;}
.inline {display:inline !important;}
.show {display:block !important;}
.print-only {display:none;}
.print {display:none;}
.page-disclaimer {font-size:.8em; margin-top:8%;}

.note {display:table; margin-bottom:1em;}
.note>* {display:table-cell;}


@viewport {
	width: device-width;
}

header {background-color:#fff;}
.navbar .container .lesson-title.CMS-art {position:absolute; -webkit-transition:bottom 0.5s ease; transition:bottom 0.5s ease;}


@media (min-width:0px) {
	html {font-size:82%; letter-spacing:normal; word-spacing:normal;}
	header {height:30px;}
	h1 {height:30px; padding:5px 0; font-size:2vmax; text-align:center; text-overflow:ellipsis;}
	.lesson-title>span {height:100%; text-overflow:ellipsis; line-height:1; display:block; overflow:hidden; white-space:nowrap;}
	.no-mobile {top:-9999px;}
	.nuke-mobile {top:-9999px !important;}
	.mobile-only {display:block;}
	.max-padded {padding:0 10px;}
	.page-wrapper {height:calc(100% - 130px); top:90px;}
	.page-content {padding:.5em 10px;}
	.navbar .container .lesson-title.CMS-art {width:115px; height:115px; bottom:-115px;}
	.footer-flourish {width:115px; height:115px;}
	.page-mainbar {width:100%; height:auto; min-height:none; position:relative; padding:0; margin-bottom:0 !important;}
	.page-sidebar {width:100%; max-width:none; height:auto; padding:25px; background-color:#ddd; overflow-y:hidden; overflow-x:hidden; position:relative; top:auto; right:auto;}
	.page-sidebar img {width:90%; margin:0px auto 10px auto;}
	.page-sidebar>*:last-child {margin-bottom:0;}
	.add-side {background:none;}
	.page-halfbox {width:100%; display:block; padding:10px; border:1px solid #000000; margin-bottom:10px; border-collapse:collapse;}
	
	ol.roman {margin-left:0px;}
	ol.roman li::before {display:block;}
	
	table, table caption {display:block; width:calc(100% - 1px);}
	table .colHead {font-weight:bold;}
	table thead {position:fixed; top:-9999px;}
	table tr {display:block; border:1px solid #000; margin-bottom:10px;}
	table td, table th {display:block; width:100%; text-align:left; padding:5px;}
	table caption, table th {text-align:left; font-weight:bold;}
}



@media (min-width:700px) {
	html {font-size:90%; letter-spacing:normal; word-spacing:normal;}
	header {height:65px;}
	h1 {font-size:1.7em; text-align:left; height:32px; padding:16px 0 17px 0;}
	.lesson-title {padding:7px 10px; text-align:center; display:table;}
	.lesson-title>span {display:table-cell; vertical-align:middle; padding:0 55% 0 30px; width:100%; height:30px; font-size:100%; white-space:normal; }
	.no-mobile {top:auto;}
	.nuke-mobile {top:0 !important;}
	.mobile-only {display:none;}
	.max-padded {padding:0 30px;}
	.page-wrapper {height:calc(100% - 145px); top:105px;}
	.page-content {padding:30px 40px 60px 40px;}
	.navbar .container .lesson-title.CMS-art {width:115px; height:115px; bottom:0px;}
	.page-numbers {padding-left:90px;}
	.page-sidebar {width:300px; height:calc(100% + 60px); padding:45px 25px; /*background-color:transparent;*/ overflow:visible; position:absolute; top:-40px; right:-40px; margin-bottom:0 !important;}
	.page-sidebar img {width:100%; max-width:300px;}
	.page-sidebar>*:last-child {margin-bottom:30px;}
	.page-mainbar {min-height:100%; padding-right:300px; /*margin-bottom:0 !important;*/}
	.add-side { background:url(../main-images/sidebarBG.jpg) no-repeat; background-size:calc(320px - 0px) 100%; background-position: 100% 0;}
	
	ol.roman {margin-left:35px;}
	ol.roman li::before {display:inline-block; width:160px;}
	
	table {display:table; background-color:#d0f2e9;}
	table caption {display:table-caption;}
	table .colHead {display:none;}
	table thead {position:relative; top:auto;}
	table tbody {background-color:#fff;}
	table tr {display:table-row; border:none;}
	table td, table th {display:table-cell; border:1px solid #000; width:auto;}
	table caption, table th {text-align:left; font-weight:bold;}
}



@media (min-width:1000px) {
	html {font-size:95%;}
	.lesson-title {width:55%;}
	.lesson-title>span {width:100%; padding-left:50px;}
	.max-padded {padding:0 50px;}
	.page-content {padding:40px 70px;}
	.page-numbers {padding-left:75px;}
	.page-sidebar {width:300px; height:calc(100% + 80px); top:-40px; right:-40px;}
	.page-mainbar {padding-right:300px;}
	.add-side {background-size:calc(300px - 0px) 100%;}
	.page-halfbox {width:49%; display:table-cell;}
}